@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao UrbanMarket</h1>

    <div class="text-center">
        <img src="https://as1.ftcdn.net/v2/jpg/03/43/50/40/1000_F_343504063_WueInWjq3IgoLzbfaUurDF5C4jJ5zz2M.jpg" class="rounded" style="width: auto; height: auto;">
    </div>

</div>
